@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 67% 12%;

    --card: 0 0% 100%;
    --card-foreground: 210 67% 12%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 67% 12%;

    --primary: 210 67% 12%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 29% 97%;
    --secondary-foreground: 210 67% 12%;

    --muted: 210 29% 97%;
    --muted-foreground: 220 9% 46%;

    --accent: 192 100% 50%;
    --accent-foreground: 0 0% 100%;

    --gold: 45 80% 46%;
    --gold-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 192 100% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
